node_modules
/keystore
/keystore-test
orbitdb
/orbit-db
orbit-db-stores
lib
/peerbit
.vscode
/keystore/
keystore-test
**/__tests__/**/tmp
/tmp
nginx_secrets
nginx
coverage
/test-results/
/playwright-report/
/playwright/.cache/
