@media (prefers-color-scheme: light) {
	html {
		--background: white;
		--codeBackgroundColor: white;
		--borderColor: white
			/* box-shadow: 0px 1px 7px #1b8a36; */


	}
}

@media (prefers-color-scheme: dark) {
	html {
		--background: #191e1a !important;
		--codeBackgroundColor: #262726 !important;
		--borderColor: #262726 !important
			/* box-shadow: 0px 1px 7px #1b8a36; */


	}
}