# This is a Github Workflow that runs tests on any push or pull request.
# If the tests pass and this is a push to the master branch it also runs Semantic Release.
name: CI
on: 
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    types: ['opened', 'reopened', 'synchronize']
jobs:
  test_push:
    if: github.event_name == 'push'
    name: Test (${{ matrix.test_cmd }}, Node v${{ matrix.node-version }}, OS ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      PEERBIT_TEST_SESSION: mock
    strategy:
       matrix:
        os: [ ubuntu-22.04 ]
        node-version: [22.x]
        test_cmd: 
          - pnpm run test:ci:part-1
          - pnpm run test:ci:part-2
          - pnpm run test:ci:part-3
          - pnpm run test:ci:part-4
          - pnpm run test:ci:part-5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install deps
        run: |
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
          pnpm install --frozen-lockfile=false
          pnpm exec playwright install-deps
      - name: Build
        run: |
          pnpm run build
      - name: Lint
        if: matrix.test_cmd == 'pnpm run test:ci:part-1'
        run: pnpm run lint
      - name: Tests
        env:
          PEERBIT_MOCHA_LOG_TEST_START: ${{ matrix.test_cmd == 'pnpm run test:ci:part-4' && '1' || '0' }}
          PEERBIT_MOCHA_LOG_QUIET: ${{ matrix.test_cmd == 'pnpm run test:ci:part-4' && '1' || '0' }}
          PEERBIT_MOCHA_LOG_INTERVAL_MS: ${{ matrix.test_cmd == 'pnpm run test:ci:part-4' && '10000' || '0' }}
        run: ${{matrix.test_cmd}}

  test_pr:
    if: github.event_name == 'pull_request'
    name: Test (${{ matrix.test_cmd }}, Node v${{ matrix.node-version }}, OS ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      PEERBIT_TEST_SESSION: mock
    strategy:
       matrix:
        os: [ ubuntu-22.04 ]
        node-version: [22.x]
        test_cmd: 
          - pnpm run test:ci:part-1
          - pnpm run test:ci:part-2
          - pnpm run test:ci:part-3
          - pnpm run test:ci:part-4
          - pnpm run test:ci:part-5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install deps
        run: |
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
          pnpm install --frozen-lockfile=false
          pnpm exec playwright install-deps
      - name: Build
        run: |
          pnpm run build
      - name: Lint
        if: matrix.test_cmd == 'pnpm run test:ci:part-1'
        run: pnpm run lint
      - name: Tests
        env:
          PEERBIT_MOCHA_LOG_TEST_START: ${{ matrix.test_cmd == 'pnpm run test:ci:part-4' && '1' || '0' }}
          PEERBIT_MOCHA_LOG_QUIET: ${{ matrix.test_cmd == 'pnpm run test:ci:part-4' && '1' || '0' }}
          PEERBIT_MOCHA_LOG_INTERVAL_MS: ${{ matrix.test_cmd == 'pnpm run test:ci:part-4' && '10000' || '0' }}
        run: ${{matrix.test_cmd}}
